* {
  background-color: aquamarine;
  color: black;
}

.id-input {
  background-color: white;
}

.lighted {
  background-color: blueviolet;
  color: white;
}

#getdef {
  display: flex;
  align-items: center;
}

#selectmot {
  align-self: flex-end;
}

.buttoncont {
  display: flex;
  justify-content: flex-start;
}

.uniqueword {
  color: black;
}

.uniqueword:hover {
  background-color: crimson;
  color: white;
}

.chosenword {
  font-size: xx-large;
}

.categorytitle {
  text-decoration: underline;
  font-size: large;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#clickfordef {
  font-size: x-small;
}

#clickunique {
  font-size: x-small;
}

.titlewmsg {
  display: flex;
  flex-direction: row;
}

.definition {
  background-color: white;
}
